@value makerShadow from '../../common/color.css';

section.preview{
    flex-basis: 50%;
    text-align: center;
}

h1.previewTitle{
    margin-top: 50px;
    font-size: 35px;
    color: #454545;
    text-shadow: makerShadow;
}