@value makerShadow from '../../common/color.css';

section.preview{
    flex-basis: 50%;
    text-align: center;
    overflow-y: auto;
}

h1.previewTitle{
    margin: 50px 0 20px;
    font-size: 35px;
    color: #454545;
    text-shadow: makerShadow;
}